h1{
	color:#006064;
	font-family:"Eurostile";
	font-style:bold;
	
}

h2{
	color:#006064;
	font-family:"Eurostile";
	font-style:bold;
	font-size:20;
}

h3{
	font-family:"Eurostile";
}

body{
	background-color:#F9FBE7;
}